<!-- 头部内容 -->
<%- include ./common/header %>

<body>
<!-- 顶部导航内容 -->
<%- include ./common/nav %>

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">RORO彦的Blog</h1>
        <hr/>
        <p class="lead blog-description">发现新鲜事，发现好玩事！</p>
    </div>

    <!-- 描述信息区域 -->
    <div class="jumbotron info-align">
        <h3><%= errinfo %></h3>

        <script type="text/javascript">
            //10妙后返回
            function countDown(secs){
                var jumpTo = document.getElementById('jumpTo');
                jumpTo.innerHTML = secs;
                if(--secs>0){
                    setTimeout("countDown("+secs+")",1000);
                }
                else{
                    history.go(-1);
                }
            }
        </script>
        <p><span id="jumpTo">10</span>秒后返回上一页。</p>
        <script type="text/javascript"> countDown(10) </script>
        <!--<p><a href="/" class="btn btn-primary btn-lg" role="button">-->
                <!--点击直接跳转</a>-->
        <!--</p>-->
    </div>



</div>

<!-- 底部页尾内容 -->
<%- include ./common/footer %>
