<footer class="blog-footer">
    <p>Copyright <a href="https://github.com/LYZ0106/">&copy;RORO彦</a>, All Rights Reserved</p>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--KindEditor-->
<script charset="utf-8" src="/kindEditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/kindEditor/lang/zh_CN.js"></script>

<script src="/javascripts/style.js"></script>
</body>
</html>
